.bg-image-notfound {
  background-image: url("../../assets/clueless-doctor-veteriantian-scrubs-shrugging-staring-camera-confused-while-dog-sitting-exa.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
