.bg-image-page {
  background-image: url("../../assets/cute-black-pug-dog-face-mask-looking-left-promo-banner-while-doctor-veterinarian-clinic-poi.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
