.home-background {
  background-image: url("../../assets/handsome-doctor-veterinarian-examining-cute-black-pug-dog-vet-clinic-standing-white-backgrou.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
