.bg-image-unauth {
  background-image: url("../../assets/handsome-doctor-veterinarian-holding-syringe-standing-near-cute-black-pug-vaccinating-dog-white.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
